<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
   
    <title>Information</title>
</head>
<body>
    <table  >
        <thead>
<tr >
    <th>ID of Product</th>
<th>Name Product</th>
<th> Name of Companey</th>
<th> Name of Category</th>
<th> Price</th>
<th>  Photo</th>
<th>  Information</th>

</tr>
</thead>
<tbody>
    
        <tr > 
            <td><%=name%></td>
            <td> <%=company_id%></%data></td>
            <td> <%=category_id%></td>
            <td> <%=price%>$</td>
            
      <td>  <img src="images/<%=source%>" style="width: 340px;height: auto;" alt=""> </td>
        
        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis labore necessitatibus cumque atque harum tenetur maiores cupiditate placeat! Voluptate voluptatum sint nesciunt necessitatibus repellendus deserunt recusandae, molestias reprehenderit reiciendis odio!</td>
        </tr>
        
        
</tbody>
</table>
</body>
</html>